{% extends 'portfolio/base.html' %}

{% block content %}


{% load static %}


<div class="bg-primary">
    <figure class="text-center">
        <blockquote class="blockquote">
            <h1 class="display-2">Welcome to my business card website.</h1>
        </blockquote>
    </figure>

    <div class="row justify-content-around bg-dark text-secondary">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-sm-12">
                    <img class="w-100" src="{%static 'portfolio/mountain.jpg' %}" class="img-thumbnail"
                         alt="Сопроводительная надпись для изображения">
                </div>
                <div class="col-xl-6 col-sm-12">
                    <h1 class="my-3">Текст взят с: <span class="badge bg-secondary">Lorem Ipsum</span></h1>
                    <p>Praesent neque orci, placerat vitae tincidunt eget, venenatis nec dolor. Aenean sed nibh enim.
                        Integer at purus tellus. Phasellus convallis est sit amet finibus efficitur. Etiam vitae
                        lobortis ante. In hac habitasse platea dictumst. Vivamus a sapien tempus, rhoncus ligula quis,
                        fermentum sapien. Suspendisse rhoncus luctus lobortis. Aliquam erat volutpat. Pellentesque
                        turpis sem, tristique vel ullamcorper aliquet, vulputate nec lorem. Morbi non lacinia odio, in
                        interdum eros. Maecenas vel dapibus quam, nec mollis libero. Cras id est a nibh euismod viverra.
                        Curabitur auctor dignissim arcu eu finibus.</p>
                    <p>Suspendisse euismod convallis fermentum. Pellentesque sed luctus sapien. Cras sodales condimentum
                        augue, placerat dignissim nibh placerat eu. Nam tincidunt, tellus sit amet faucibus consequat,
                        lacus tellus dignissim mauris, eu ornare diam nisi id nulla. Nunc augue felis, bibendum eget
                        turpis in, semper rutrum tellus. Sed at condimentum est. Nulla facilisi. Aenean feugiat ipsum ut
                        sem imperdiet malesuada. Aenean id sapien est. Interdum et malesuada fames ac ante ipsum primis
                        in faucibus. Cras nibh erat, posuere tincidunt nisi at, pulvinar sodales augue.
                </div>
            </div>
        </div>

        <h2 class="text-center">My project in GitHub</h2>
        <div class="container">
            <div class="mx-auto" style="width: 600px;">
                <div class="row gy-3">
                    <div class="text-center">
                        {% for project in projects %}
                        {% if project.url %}
                        <a href="{{ project.url }}">
                            <div class="card mb-4 shadow-sm">
                                <img src="{{ project.image.url }}" width="100%">
                                <div class="card-body bg-primary text-black">
                                    <h5 class="col-sm-12"><em>{{ project.title }}</em></h5>
                                    <p class="card-text">{{ project.description }}</p>
                                </div>
                            </div>
                        </a>

                        {% endif %}

                        {% endfor %}
                    </div>
                </div>
            </div>

            {% endblock %}
